/* Level1.css */
body {
  margin: 0;
}

.level1-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  margin: 0;
}

.heart-button {
  position: relative;
  font-size: 3rem;
  color: red;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  width: 30vw;
  transform: scale(1);
}

.heart-button .heart-text {
  position: absolute;
  top: 42.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none; /* Prevent the text from capturing click events */
  color: black; /* Set the initial color of the text */
}

.heart-button:hover {
  transform: scale(2.5);
}

.heart-button:hover .heart-text {
  color: white;
}

.countdown {
  color: red;
  font-size: 3rem;
  margin-top: 20px;
}
